{% assign apps = site.data["mobile"] | concat: site.data["offline"] | concat: site.data["online"] | concat: site.data["vm-iso"] | uniq | sort: "name" %}
{% assign random = site.time | date: "%s%N" | modulo: apps.size %}
{% assign app = apps[random] %}

<table style="font-size: 16px">
  <tr>
    <th>App. URL</th>
    <th>Author</th>
    <th nowrap="nowrap">Reference(s)</th>
    <th nowrap="nowrap">Technology(ies)</th>
    <th nowrap="nowrap">Note(s)</th>
  </tr>
  <tr>
    <td>
        <a href="{{ app.url }}">{{ app.name }}</a><br>
        {% if app.badge %}
            <img alt="GitHub stars" src="https://img.shields.io/github/stars/{{ app.badge }}?style=social">
        {% endif %}
    </td>
    <td>
        {{ app.author }}<br>
        {% if app.badge %}
            <img alt="GitHub contributors" src="https://img.shields.io/github/contributors/{{ app.badge }}">
        {% endif %}
    </td>
    <td nowrap="nowrap">
      {% if app.references %}
        <ul> 
          {% for ref in app.references %}
            <li> <a href="{{ ref.url }}">{{ ref.name | capitalize }}</a> </li>
          {% endfor %}
        </ul>
      {% endif %}
    </td>
    <td nowrap="nowrap"> 
      {% if app.technology %}
        <ul>
          {% for tech in app.technology %}
            <li> {{ tech }} </li>
          {% endfor %}
        </ul>
      {% endif %}
    </td>
    <td>
        {{ app.notes }}<br>
        {% if app.badge %}
            <img alt="GitHub last commit" src="https://img.shields.io/github/last-commit/{{ app.badge }}">
        {% endif %}
    </td>
  </tr>
</table>
