{% if include.collection == "aotd" %}
  {% assign allapps = site.data["collection"]  uniq | sort: "name" %}
  {% assign random = site.time | date: "%s%N" | modulo: allapps.size %}
  {% assign apps = "" | split: ',' %}
  {% assign apps = apps | push: allapps[random] %}
{% else %}
  {% assign apps = site.data["collection"] | where_exp:"app",
"app.collection contains include.collection" | uniq | sort: "name" %}
{% endif %}

{% include collection_table/styles.html %}

{% if include.collection != "aotd" %}
{% include collection_table/controls.html collection=include.collection %}
{% include collection_table/advanced_search.html collection=include.collection apps=apps %}
{% endif %}

{% include collection_table/table.html collection=include.collection apps=apps %}

{% include collection_table/scripts.html %}
