<link rel="stylesheet" href="{{ '/assets/css/collection_table/base.css?v=2026-01-09' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/collection_table/controls.css?v=2026-01-09' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/advanced_search/base.css?v=2026-01-09' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/advanced_search/fields.css?v=2026-01-09' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/advanced_search/selects.css?v=2026-01-09' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/advanced_search/pills.css?v=2026-01-09' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/advanced_search/actions.css?v=2026-01-09' | relative_url }}">
