name: Validate JSON

on:
  pull_request_target:
    paths:
      - '_data/collection.json'
  workflow_dispatch:

jobs:
  schema-check:
    permissions:
      contents: read
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          npm install -g ajv-formats ajv-cli

      - name: Run schema check
        run: |
          ajv validate -s schema.json -d _data/collection.json \
            --all-errors --errors=text --verbose=true -c=ajv-formats \
            1>> validation-output.log 2>&1

      - name: Upload Validation Report
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: schema-validation-errors
          path: validation-output.log
